.picture-wrap {
    width: 100%;
    display: flex;
	justify-content: center;
    flex-wrap: wrap;
}

picture {
    margin: 20px;
}

source {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    width: auto;
}

img {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    width: auto;
}
